.heading {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.06rem;
  margin-bottom: 15px;
}
.withdrawContainer {
  margin: 10px auto;
  text-align: center;
}
.btn {
  border-radius: 50px !important;
  font-size: 0.8rem !important;
  padding: 10px 20px !important;
  font-family: monospace !important;
}
