.connect {
  border-radius: 50px !important;
  font-size: 0.6rem !important;
  padding: 10px 20px !important;
}
.networkInvalid {
  color: red;
  font-size: 0.8rem !important;
}
.wallet {
  font-size: 0.8rem;
}
.logo {
  font-size: 1.6rem !important;
  font-family: "monospace" !important;
  font-weight: 800 !important;
  letter-spacing: 0.2rem !important;
  cursor: pointer !important;
}
